.linkContainer {
  min-width: 5vh;
  min-height: 5vh;
  display: inline-block;
  border: 1vh double #262521;
  border-radius: 10px;

  background-color: #594431;
  .link {
    font-size: 5vh;
    color: whitesmoke;
    margin: 1vw;
  }
}

.linkContainer:hover {
  border: 1vh double whitesmoke;
  border-radius: 10px;
}
