.card {
  background-color: #bfac95;
  width: 35vw;
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1vh double #594431;
  border: 1vh double #594431;

  > h2,
  a {
    border-bottom: 1vh double #594431;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-family: "Fondamento", cursive;

    .github {
      position: absolute;
      right: 3%;
      font-size: 5vh;
      color: #594431;
      cursor: pointer;
      border: none;
    }

    .github:hover {
      color: whitesmoke;
    }
  }

  h2,
  p {
    padding: 2vh;
  }

  p {
    margin-bottom: auto;
    text-align: justify;
  }

  img {
    width: 100%;
    height: 200px;
  }

  .techStack {
    text-decoration: underline;
    text-align: center;
    margin: 0;
    height: 70px;
  }
}

.card:hover {
  border-color: whitesmoke;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 80vw;
  }
}
