.titleCard {
  height: 100vh;

  .intro {
    position: absolute;
    top: 25vh;
    right: 20vw;
    color: #bfac95;
    background-color: rgba(13, 8, 6, 0.25);

    h1 {
      text-align: center;
    }

    h1,
    h2,
    h3 {
      margin: 1vh;
      font-family: "Fondamento", cursive;
    }
  }
}
